/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* h1 {
  background-color: #61dafb;
  text-align: center;
  color: #fff;
  transition-duration: 5s;  
                                                                                                                                                                                                                                                                    
}
h1:hover {
  transform: rotateY(180deg);
}
.Img  img {
  width:500px;
  height: 500px;
  background-color: #000;
  top:20px; 
  
  animation: Img infinite 20s linear;
  position: relative;
  animation-duration: 5s;

}
@keyframes Img {
  from {
    transform: rotate(0deg);
    left: 1400px;
  }
  to {
    transform: rotate(360deg);
    left: 20
    
    300.
    
x    0px;
  }
} 
table {
  width: 100%;
}
table td {
  background-color:#61dafb;
  color: #fff;
  font-size: 27px;
  text-align: center;
} */
/* .Navbar{
  margin-top: 50px;
  display: block;
  width: 100%;
}
.Navbar a{
  padding: 20px;
  text-decoration: none;
  background-color: #61dafb;
  color: #fff;
} */
